<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %X{CID} [%thread] %-5level %logger - %message%n%throwable{full}</Pattern>
    </layout>
</appender>
<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!-- Support multiple-JVM writing to the same log file -->
<prudent>false</prudent>
<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    <!-- daily rollover -->
    <fileNamePattern>/tmp/server.%d{yyyy-MM-dd-HH, GMT+8}.log</fileNamePattern>
</rollingPolicy>
<encoder>
    <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %X{NID} %X{CID} [%thread] %-5level %logger - %message%n%throwable{full}</Pattern>
</encoder>
</appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>